body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

img {
    border-radius: 50%;
}

button.btn {
    padding: 10px;
    background: #26c2ce;
    border-radius: 5px;
    color: #f9f9f9;
    font-weight: bold;
}